.HowItWorks {
  width: 100%;
  height: 100vh;
  background: rgb(243, 243, 243);
  > h1 {
    text-align: center;
    padding: 30px 0;
    color: #405c5a;
  }
  .content {
    height: 500px;
    display: flex;
    justify-content: space-between;
    .StepsToWork {
      // background: lightgray;
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: start;
      .icons {
        margin: 0px 0 0 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        > div {
          h1 {
            z-index: 11;
            position: relative;
            background: #405c5a;
            color: white;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            border-radius: 50%;
          }
        }
      }
    }
    .steps {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .step1,
      .step2,
      .step3 {
        margin: 10px 30px;
        padding: 20px;
        border-radius: 0 20px 20px 20px;
        background: white;
        box-shadow: 0 20px 20px rgba(128, 128, 128, 0.171);
        h3 {
          font-weight: bold;
        }
        p {
          color: #405c5a;
          font-weight: 600;
        }
      }
    }
  }
  .Hero_img {
    background: url("https://cdni.iconscout.com/illustration/premium/thumb/pet-doctor-2681442-2239905.png");
    object-fit: contain;
    width: 50%;
    height: 500px;
  }
}

@media (max-width: 850px) {
  .content {
    .StepsToWork {
      flex: 1;
      justify-content: center;

      .icons {
        margin: 0;
      }
    }
    .Hero_img {
      display: none;
    }
  }
}
