* {
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
}

.nav-bar {
  max-width: 100%;
  display: flex;
  /* background: lightgray; */
  color: #DEF0F7;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background: #04314E;
}

.logo h3 {
  font-size: 35px;
  color: rgb(252, 252, 252);
  margin: 0;
  font-family: Playfair Display;
  font-weight: normal;
}

.links {
  margin-left: -15px;
  display: flex;
  padding: 0 30px;
}

.links h4 {
  margin: 10px 15px;
  padding: 5px 10px;
  text-align: center;
  color: #DEF0F7;
}

.links h4:hover {
  cursor: pointer;
  background: #ADD6EB;
  color: #003f5f;
  transition: 0.3s;
}

button {
  background: black;
  outline: none;
  border: none;
  cursor: pointer;
  /* margin: 0 10px; */
  font-size: 20px;
}

.open-sidebar {
  visibility: hidden;
  position: absolute;
  right: 26px;
  /* top: 16px; */
}

.open-login, .open-sidebar {
  padding: 10px;
  background: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  margin: 10px 0;
}

.sidebar {
  visibility: hidden;
  background: #04314E;
  position: absolute;
  right: 0;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sidebar p {
  background: transparent;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.sidebar p:hover {
  background: white;
  color: black;
}

@media only screen and (max-width:500px) {
  .links {
    display: none;
  }
  .nav-bar {
    padding: 0px 50px;
  }
  .left-bar {
    width: 35%;
  }
  .open-sidebar {
    visibility: visible;
  }
  .open-login {
    visibility: hidden;
  }
  .sidebar {
    visibility: visible;
  }
}