.consult_container {
  min-height: 100vh;
  width: 100%;
}

.consult_container h2 {
  text-align: center;
  margin: 30px;
  color: rgb(15, 27, 25);
}

.select_category {
  margin: 30px auto;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
  padding: 0px 10px;
  border-radius: 0px;
  font-size: 16px;
  border-radius: 10px;
}

.select_category input {
  background: #9ef4ff;
  outline: none;
  border: none;
  padding: 20px 10px;
  background: transparent;
  font-size: 18px;
  margin-left: 10px;
}

.select_category input:hover {
  background: #f0efef;
  transition: 0.3s ease;
}

.prime {
  font-weight: bold;
}

.prime p:nth-child(1) {
  font-size: 15px;
  color: gray;
}

.prime span {
  padding: 7px;
  color: #1934d1;
}

.prime span:hover {
  text-decoration: underline;
  transform: 0.3s ease;
  cursor: pointer;
}

.filters {
  width: 100%;
  background: #1934d1;
  height: 40px;
  color: white;
}

.doctor_info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: rgb(243, 243, 243);
}

.location_info {
  width: 400px;
  height: 48vh;
  margin: 30px;
  border-radius: 10px;
  padding: 10px;
  background: white;
  box-shadow: 0px 10px 20px #d7dddd;
}

.location_info p {
  font-weight: 600;
  color: gray;
}

.areas {
  margin: 10px 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.areas p {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 5px 8px;
  color: black;
}

.areas p:hover {
  background: #3BB7FF;
  border: none;
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
}

.location_info button {
  background: #3BB7FF;
  color: black;
  margin: 10px 0;
  font-size: 17px;
  border-radius: 10px;
}

.location_info button:hover {
  color: white;
}